# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
将删除 .DS_Store
将删除 .idea/.gitignore
将删除 .idea/compiler.xml
将删除 .idea/encodings.xml
将删除 .idea/libraries/
将删除 .idea/misc.xml
将删除 .idea/modules.xml
将删除 .idea/vcs.xml
将删除 HELP.md
将删除 pom.xml
将删除 springboot.iml
将删除 src/

